<% include ./public/head %>
<%include ./public/header%>
<div class="container">
     <div class="row">
         <div class="col-xs-9">
            <h4><%= username%></h4>
             <br>
             <%for(var i = 0;i<userPost.length;i++){%>
             <article>
                 <div class="h6">
                     <button class="btn btn-primary btn-xs"><%= userPost[i]['postTags']%></button>
                     <a href="/post/<%= userPost[i]['_id']%>"><%= userPost[i]['postTitle']%></a>
                 </div>
                 <span class="small"><kbd><%= userPost[i]['postDate']%></kbd></span>
                 <div class="content">
                     <%= userPost[i]['postContent']%>
                 </div>
             </article>
             <hr>
             <%}%>
         </div>
         <%include ./public/side%>
     </div>
</div>
<script src="js/user.js"></script>
<% include ./public/footer %>
