<% include ./public/head.ejs %>
<%include ./public/header.ejs %>
<div class="container">
     <div class="row">
         <div class="col-xs-9">
            <h4><%= username%></h4>
             <br>
             <%if(havePost){%>
             <%for(var i = 0;i<userPost.length;i++){%>
             <article>
                 <div class="h6">
                     <button class="btn btn-primary btn-xs"><%= userPost[i]['postTags']%></button>
                     <a href="/post/<%= userPost[i]['_id']%>.html"><%= userPost[i]['postTitle']%></a>
                 </div>
                 <span class="small"><kbd><%= userPost[i]['postDate']%></kbd></span>
                 <div class="content">
                     <%= userPost[i]['postShortContent']%>
                 </div>
             </article>
             <hr>
             <%}%>
             <%}else{%>
                <h4>该用户暂时没有文章</h4>
             <%}%>
         </div>
         <%include ./public/side.ejs %>
     </div>
</div>
<script src="/js/user.js"></script>
<% include ./public/foot.ejs %>
